body {
  background-color: #f3f4f6;
}

.app-title {
  padding: 10px;
  margin: 10px;
  margin-left: 20px;
  font-size: xxx-large;
}

.Content-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  margin: 3rem 0;
}
